{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <div class="text-center mb-4">
        <h2 class="fw-bold">Neuen Artikel zu Lager: {{ lager.name }} hinzufügen</h2>
    </div>

    <!-- Formular -->
    <div class="card shadow p-4">
        <form method="POST">
            {% csrf_token %}

            <!-- Formulardaten -->
            <div class="form-group mb-3">
                <label for="artikel_name" class="form-label">Artikelname:</label>
                {{ form.name }}
            </div>

            <div class="form-group mb-3">
                <label for="beschreibung" class="form-label">Beschreibung:</label>
                {{ form.beschreibung }}
            </div>

            <div class="form-group mb-3">
                <label for="menge" class="form-label">Menge:</label>
                {{ form.menge }}
            </div>

            <!-- Speichern-Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-plus-circle me-2"></i> Artikel erstellen
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
